@{
    ViewData["Title"] = "Confirmação de Cadastro";
}

<div class="container-confirmacao">

    <div class="card-confirmacao text-center">

        <h2 class="titulo-confirmacao mb-3">Cadastro Confirmado!</h2>

        <p class="mb-4">Seu cadastro foi realizado com sucesso.</p>

        <div class="d-flex flex-column gap-3">
            <a asp-action="Login" class="btn btn-rosa">Ir para Login</a>

            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-rosa">Ir para menu principal</a>
        </div>
    </div>
</div>