@model PIM_2026.Models.Cliente

@{
    ViewData["Title"] = "Login";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">

    <div class="card shadow p-4" style="max-width: 400px; width:100%;">

        <h3 class="text-center mb-4">Área do Cliente</h3>

        <!-- ABAS -->
        <ul class="nav nav-tabs" id="abasLogin" role="tablist">

            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button">Login</button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="cadastro-tab" data-bs-toggle="tab" data-bs-target="#cadastro" type="button">Cadastro</button>
            </li>

        </ul>

        <!-- CONTEÚDO DAS ABAS -->
        <div class="tab-content mt-3">

            <!-- LOGIN -->
            <div class="tab-pane fade show active" id="login">

                <form method="post" asp-controller="Conta" asp-action="Login">

                    @if (ViewBag.Erro != null)
                    {
                        <div class="alert alert-danger text-center">
                            @ViewBag.Erro
                        </div>
                    }

                    <div class="mb-3">
                        <label>Email</label>
                        <input type="email" name="Email" class="form-control" required />
                    </div>

                    <div class="mb-3">
                        <label>Senha</label>
                        <input type="password" name="Eenha" class="form-control" required />
                    </div>

                    <button type="submit" class="btn btn-rosa w-100">Entrar</button>

                    <div class="text-center mt-3">
                        <a asp-controller="Conta" asp-action="Esqueciasenha">Esqueci minha senha</a>
                    </div>

                </form>

            </div>

            <!-- CADASTRO -->
            <div class="tab-pane fade" id="cadastro">
                <!--Verificar se criou no controller a função de cadastrar-->
                <form method="post" asp-controller="Conta" asp-action="Cadastro">

                    <div class="mb-3">
                        <label>Nome</label>
                        <input asp-for="Nome" class="form-control" placeholder="Digite seu nome" />
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        <input asp-for="Email" class="form-control" placeholder="Digite seu email" />
                    </div>

                    <div class="mb-3">
                        <label>Senha</label>
                        <input asp-for="Senha" class="form-control" placeholder="Digite sua senha" />
                    </div>

                    <div class="mb-3">
                        <label>Telefone</label>
                        <input asp-for="Telefone" class="form-control" placeholder="Digite seu telefone" />
                    </div>

                    <button type="submit" class="btn btn-rosa w-100">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>