<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/nails.png" class="logo-navbar" />
                    Erika Santana
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @{
                        var nome = Context.Session.GetString("UsuarioNome");
                        var tipo = Context.Session.GetString("TipoUsuario");
                    }

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        @if (tipo == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Dashboard">Painel Administrativo</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Agenda">Agenda Diária</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Listarservico">Serviços</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Horarios">Horários</a>
                            </li>
                        }
                        else if (tipo == "Cliente")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Verificarloginagendamento">Agendamento</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Verificarloginmeusagendamentos">Meus agendamentos</a>
                            </li>
                        }

                    </ul>

                    <div class="d-flex">

                        @if (string.IsNullOrEmpty(nome))
                        {
                            <a class="btn btn-rosa" asp-controller="Conta" asp-action="Login">Entrar</a>
                        }
                        else
                        {
                            <div class="dropdown">
                                <button class="btn btn-rosa dropdown-toggle" type="button" data-bs-toggle="dropdown">@nome</button>

                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Conta" asp-action="Logout"><i class="fa-solid fa-right-to-bracket"></i> Sair</a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Agenda Bella
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
