<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PIM_2026.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Betania+Patmos+In&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libertinus+Mono&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <picture>
                        <img src="~/img/nails.png" width="100px" />
                    </picture>
                    Erika Santana
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Menu da esquerda -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Verificarloginagendamento">Agendamento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Verificarloginmeusagendamentos">Meus agendamentos</a>
                        </li>
                    </ul>

                    <!-- Botão de login (quando o usuario logar, ficara salvo) -->
                    <div class="d-flex">
                        @{
                            var nome = Context.Session.GetString("UsuarioNome");
                            var tipo = Context.Session.GetString("TipoUsuario");
                        }

                            @if (string.IsNullOrEmpty(nome))
                            {
                                <a class="btn btn-rosa" asp-area="" asp-controller="Conta" asp-action="Login">Entrar</a>
                            }
                           else{
                               <div class="dropdown">
                                   <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown">@nome</button>
                                   <ul class="dropdown-menu dropdown-menu-end">
                                        @if (tipo == "Admin")
                                        {
                                            <li>
                                                <a class="dropdown-item" asp-controller="Admin" asp-action="Dashboard">Dashboard</a>
                                            </li>
                                        }
                                        <li>
                                            <a class="dropdown-item" asp-controller="Conta" asp-action="Logout">Sair</a>
                                        </li>
                                   </ul>
                               </div>
                           }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Agenda Bella
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
