@{
    ViewData["Title"] = "Confirmação";
}

<div class="container-confirmacao">

    <div class="card-confirmacao text-center">

        <h2 class="titulo-confirmacao mb-3">
            Agendamento Confirmado!
        </h2>

        <p class="mb-4">
            Seu agendamento foi realizado com sucesso.
        </p>

        <div class="d-flex flex-column gap-3 botoes-acoes">
            <a asp-action="Meusagendamentos" class="btn btn-rosa">Ir para meus agendamentos</a>

            <a asp-action="Index" class="btn btn-outline-rosa">Novo agendamento</a>
        </div>
    </div>
</div>