@{
    ViewData["Title"] = "Agendamento";
}

<div class="container py-5">
    <h2 class="text-center mb-4">Agende seu Horário</h2>

    <div class="card shadow p-4">

        <form method="post" id="formAgendamento">

            <!-- Serviço -->
            <div class="mb-4">
                <h4 class="mb-3">1. Escolha o serviço</h4>

                <select class="form-select" name="servico" id="servico" required>
                    <option value="">Selecione um serviço</option>

                    <optgroup label="Serviços para Mão">
                        <option>Manicure Tradicional</option>
                        <option>Esmaltação em Gel</option>
                        <option>Alongamento de Unhas</option>
                        <option>Cuticulagem</option>
                        <option>Remoção do alongamento</option>
                    </optgroup>

                    <optgroup label="Serviços para Pé">
                        <option>Pedicure Tradicional</option>
                        <option>Spa dos Pés</option>
                        <option>Hidratação dos Pés</option>
                        <option>Cuticulagem dos Pés</option>
                    </optgroup>
                </select>
            </div>

            <!-- Data -->
            <div class="mb-4">
                <h4 class="mb-3">2. Escolha a data</h4>

                <input type="date" class="form-control" name="data" id="data" required>
            </div>

            <!-- Horário -->
            <div class="mb-4">
                <h4 class="mb-3">3. Escolha o horário</h4>

                <select class="form-select" name="horario" id="horario" required>
                    <option value="">Selecione um horário</option>
                    <option>09:00</option>
                    <option>10:00</option>
                    <option>11:00</option>
                    <option>14:00</option>
                    <option>15:00</option>
                    <option>16:00</option>
                </select>
            </div>

            <!-- Botões -->
            <div class="d-flex gap-3">
                <button type="button" class="btn btn-success"">Confirmar Agendamento</button>

                <!--Alterar para quando clicar em cancelar nao enviar para o banco de dados e voltar para a tela inicial-->
                <button type="reset" class="btn btn-outline-secondary">Cancelar</button>
            </div>

        </form>
    </div>
</div>