@model PIM_2026.Models.Servicos

<h2 class="mb-4">Cadastrar Serviço</h2>


<form asp-controller="Servico" asp-action="Salvarservico" method="post">

    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Nome" class="form-label">Procedimento</label>
        <input asp-for="Nome" class="form-control" required />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Preco" class="form-label">Preço</label>
        <input asp-for="Preco" step="0.01" class="form-control" required />
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Duracao" class="form-label" >Duração</label>
        <input asp-for="Duracao" class="form-control" required />
        <span asp-validation-for="Duracao" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-success">Salvar</button>

        <a asp-action="Listarservico" class="btn btn-secondary">Cancelar</a>
    </div>

    

</form>



