@{
    ViewData["Title"] = "Cadastrar Horário";
}

<div class="container mt-5">
    <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body p-4">
            <h2 class="mb-4">Cadastrar Horário</h2>

            <form>
                <!-- DATA -->
                <div class="mb-3">
                    <label class="form-label">Data</label>
                    <input type="date"class="form-control">
                </div>

                <!-- HORÁRIO INICIAL -->
                <div class="mb-3">
                    <label class="form-label">Horário Inicial</label>
                    <input type="time" class="form-control">
                </div>

                <!-- HORÁRIO FINAL -->
                <div class="mb-3">
                    <label class="form-label">Horário Final</label>
                    <input type="time" class="form-control">
                </div>

                <!-- STATUS -->
                <div class="mb-4">
                    <label class="form-label">Status</label>

                    <select class="form-select">
                        <option selected>Selecione</option>
                        <option>Disponível</option>
                        <option>Bloqueado</option>
                    </select>
                </div>

                <!-- BOTÕES -->
                <div class="d-flex gap-2 flex-wrap">
                    <button type="button" class="btn btn-success">Salvar</button>

                    <a asp-controller="Agenda" asp-action="Diaria" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>