@{
    ViewData["Title"] = "Cadastrar Horário";
}

<div class="container container-login-mobile d-flex justify-content-center align-items-center">
    <div class="card-login">
        <h2 class="text-center mb-4">Cadastrar na Agenda</h2>

        <form method="post" asp-controller="Admin" asp-action="Cadastrarhorario">
            <!-- DATA -->
            <div class="mb-3">
                <label class="form-label">Data da Agenda</label>
                <input type="text" class="form-control" name="Data" id="data" required>
            </div>

            <!-- HORÁRIO INICIAL -->
            <div class="mb-3">
                <label class="form-label">Horário Inicial</label>
                <input type="time" class="form-control" name="HoraInicio" id="horaInicio" required>
            </div>

            <!-- HORÁRIO FINAL -->
            <div class="mb-3">
                <label class="form-label">Horário Final</label>
                <input type="time" class="form-control" name="HoraFim" id="horaFim" required>
            </div>

            <!-- STATUS -->
            <div class="mb-4">
                <label class="form-label">Status</label>
                <select class="form-select" name="Status" required>
                    <option value="">Selecione</option>
                    <option value="Disponivel">Disponível</option>
                    <option value="Bloqueado">Bloqueado</option>
                </select>
            </div>

            <!-- BOTÕES -->
            <div class="d-flex gap-2 botoes-acoes">
                <button type="submit" class="btn btn-rosa w-100">Salvar</button>
                <a asp-controller="Admin" asp-action="Horarios" class="btn btn-outline-rosa w-100">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/pt.js"></script>

<script>
    flatpickr("#data", {
    dateFormat: "d/m/Y",
    minDate: "today",
    locale: "pt"
    });
</script>

<script>
    const horaInicio = document.getElementById("horaInicio");
    const horaFim = document.getElementById("horaFim");

    horaFim.addEventListener("change", function () {

        if (horaInicio.value !== "" && horaFim.value !== ""){
            if (horaFim.value <= horaInicio.value) {

            alert("O horário final deve ser maior que o horário inicial.");

            horaFim.value = "";
            }
        }
    });
</script>