@{
    ViewData["Title"] = "Cadastrar Serviço";
}

<div class="container container-login-mobile container-formulario d-flex justify-content-center">
    <div class="card-login">
        <h2 class="text-center mb-4">Cadastrar Serviço</h2>

        <form method="post" asp-controller="Admin" asp-action="">
            <!-- PROCEDIMENTO -->
            <div class="mb-3">
                <label class="form-label">Procedimento</label>
                <input type="text" class="form-control" placeholder="Ex: Alongamento de unha">
            </div>

            <!-- PREÇO -->
            <div class="mb-3">
                <label class="form-label">Preço</label>
                <input type="number" class="form-control" placeholder="Ex: 120">
            </div>

            <!-- DURAÇÃO -->
            <div class="mb-4">
                <label class="form-label">Duração</label>
                <input type="number" class="form-control" placeholder="Ex: 30">
            </div>

            <!-- BOTÕES -->
            <div class="d-flex gap-2 botoes-acoes">
                <a asp-controller="Admin" asp-action="Salvarservico" class="btn btn-rosa w-100">Salvar</a>
                <a asp-controller="Admin" asp-action="Listarservico" class="btn btn-outline-rosa w-100">Cancelar</a>
            </div>
        </form>
    </div>
</div>