@{
    ViewData["Title"] = "Cadastrar Serviço";
}

<div class="container mt-5">
    <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body p-4">
            <h2 class="mb-4">Cadastrar Serviço</h2>

            <form>

                <!-- PROCEDIMENTO -->
                <div class="mb-3">
                    <label class="form-label">Procedimento</label>

                    <input type="text" class="form-control" placeholder="Ex: Alongamento de unha">
                </div>

                <!-- PREÇO -->
                <div class="mb-3">
                    <label class="form-label">Preço</label>

                    <input type="text" class="form-control" placeholder="R$ 120,00">
                </div>

                <!-- DURAÇÃO -->
                <div class="mb-4">
                    <label class="form-label">Duração</label>

                    <input type="text" class="form-control" placeholder="Ex: 2 horas">
                </div>

                <!-- BOTÕES -->
                <div class="d-flex gap-2 flex-wrap">
                    <a asp-controller="Admin" asp-action="Salvarservico" class="btn btn-success">Salvar</a>

                    <a asp-controller="Admin" asp-action="Listarservico" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>