@{
    ViewData["Title"] = "Controle de Horários";
}

<h2>Controle de Horários</h2>

<a class="btn btn-success mb-3" asp-action="Cadastrohorario">Adicionar Horário</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Dia</th>
            <th>Horário</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Segunda-feira</td>
            <td>08:00 às 18:00</td>

            <td>
                <span class="badge bg-success">Livre</span>
            </td>

            <td>
                <a class="btn btn-warning btn-sm">Bloquear</a>
            </td>
        </tr>

        <tr>
            <td>Terça-feira</td>
            <td>09:00 às 17:00</td>

            <td>
                <span class="badge bg-danger">Bloqueado</span>
            </td>

            <td>
                <a class="btn btn-success btn-sm">Liberar</a>
            </td>
        </tr>

        <tr>
            <td>Quarta-feira</td>
            <td>10:00 às 19:00</td>

            <td>
                <span class="badge bg-success">Livre</span>
            </td>

            <td>
                <a class="btn btn-warning btn-sm">Bloquear</a>
            </td>
        </tr>

    </tbody>
</table>