@model List<PIM_2026.Models.Horariotrabalho>

<h2>Controle de Horários</h2>

<a class="btn btn-success mb-3" asp-action="Criar">
    + Definir Horário
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Data</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var h in Model)
        {
            <tr>
                <td>@h.Diasemana.ToString("dd/MM/yyyy")</td>
                <td>@h.Idhorario</td>

                <td>
                    @if (h.Idbloqueio)
                    {
                        <span class="badge bg-danger">Bloqueado</span>
                    }
                    else
                    {
                        <span class="badge bg-success">Livre</span>
                    }
                </td>

                <td>
                    @if (!h.Bloqueado)
                    {
                        <a class="btn btn-warning btn-sm"
                               asp-action="Bloquear"
                               asp-route-id="@h.Id">
                            Bloquear
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-success btn-sm"
                               asp-action="Liberar"
                               asp-route-id="@h.Id">
                            Liberar
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>