@{
    ViewData["Title"] = "Cadastro de Serviço";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-5 text-center" style="max-width: 500px;">

        <h2 class="text-success mb-3">Serviço cadastrado com sucesso!</h2>

        <a asp-action="Horarios" class="btn btn-primary mt-3">Ir para Serviços</a>
        <br />
        <a asp-action="Index" class="btn btn-outline-warning">Pagina Inicial</a>
        
    </div>
</div>