USE [Agenda Bella]
GO
/****** Objeto:  Table [dbo].[Agendamento]    Data do Script: 5/9/2026 8:15:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agendamento](
	[id_agendamento] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_servico] [int] NOT NULL,
	[id_profissional] [int] NOT NULL,
	[data_agendamento] [date] NOT NULL,
	[horario] [time](7) NOT NULL,
	[status_atendimento] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_agendamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Agendamento] UNIQUE NONCLUSTERED 
(
	[id_profissional] ASC,
	[data_agendamento] ASC,
	[horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[BloqueioHorario]    Data do Script: 5/9/2026 8:15:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloqueioHorario](
	[id_bloqueio] [int] IDENTITY(1,1) NOT NULL,
	[id_profissional] [int] NOT NULL,
	[data_bloqueio] [date] NOT NULL,
	[horario_inicio] [time](7) NOT NULL,
	[motivo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bloqueio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Cliente]    Data do Script: 5/9/2026 8:15:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[senha] [varchar](255) NOT NULL,
	[telefone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[HorarioTrabalho]    Data do Script: 5/9/2026 8:15:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorarioTrabalho](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_profissional] [int] NOT NULL,
	[dia_semana] [int] NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fim] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Profissional]    Data do Script: 5/9/2026 8:15:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profissional](
	[id_profissional] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[senha] [varchar](255) NOT NULL,
	[telefone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_profissional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Servico]    Data do Script: 5/9/2026 8:15:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servico](
	[id_servico] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[preco] [decimal](10, 2) NOT NULL,
	[duracao] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agendamento] ADD  DEFAULT ('Pendente') FOR [status_atendimento]
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD  CONSTRAINT [FK_Agendamento_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[Agendamento] CHECK CONSTRAINT [FK_Agendamento_Cliente]
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD  CONSTRAINT [FK_Agendamento_Profissional] FOREIGN KEY([id_profissional])
REFERENCES [dbo].[Profissional] ([id_profissional])
GO
ALTER TABLE [dbo].[Agendamento] CHECK CONSTRAINT [FK_Agendamento_Profissional]
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD  CONSTRAINT [FK_Agendamento_Servico] FOREIGN KEY([id_servico])
REFERENCES [dbo].[Servico] ([id_servico])
GO
ALTER TABLE [dbo].[Agendamento] CHECK CONSTRAINT [FK_Agendamento_Servico]
GO
ALTER TABLE [dbo].[BloqueioHorario]  WITH CHECK ADD  CONSTRAINT [FK_Bloqueio_Profissional] FOREIGN KEY([id_profissional])
REFERENCES [dbo].[Profissional] ([id_profissional])
GO
ALTER TABLE [dbo].[BloqueioHorario] CHECK CONSTRAINT [FK_Bloqueio_Profissional]
GO
ALTER TABLE [dbo].[HorarioTrabalho]  WITH CHECK ADD  CONSTRAINT [FK_Horario_Profissional] FOREIGN KEY([id_profissional])
REFERENCES [dbo].[Profissional] ([id_profissional])
GO
ALTER TABLE [dbo].[HorarioTrabalho] CHECK CONSTRAINT [FK_Horario_Profissional]
GO
ALTER TABLE [dbo].[Agendamento]  WITH CHECK ADD CHECK  (([status_atendimento]='Concluido' OR [status_atendimento]='Cancelado' OR [status_atendimento]='Confirmado' OR [status_atendimento]='Pendente'))
GO
ALTER TABLE [dbo].[HorarioTrabalho]  WITH CHECK ADD CHECK  (([dia_semana]>=(1) AND [dia_semana]<=(7)))
GO
ALTER TABLE [dbo].[HorarioTrabalho]  WITH CHECK ADD  CONSTRAINT [CK_Horario_Valido] CHECK  (([hora_inicio]<[hora_fim]))
GO
ALTER TABLE [dbo].[HorarioTrabalho] CHECK CONSTRAINT [CK_Horario_Valido]
GO
ALTER TABLE [dbo].[Servico]  WITH CHECK ADD CHECK  (([duracao]>(0)))
GO
ALTER TABLE [dbo].[Servico]  WITH CHECK ADD CHECK  (([preco]>=(0)))
GO
